{% extends "admin/layout.njk" %}
{% block head %}
  <title>Foodfy -
    {{chef.name}}</title>
{% endblock head %}

{% block content %}
  <div class="chef">
    <div class="cardCabecalho">
      <h2>Chef:
        {{chef.name}}</h2>
      <div class="buttons">
        <a class="salvar" href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
      </div>
    </div>
    <div class="perfil">
      <img src="{{chef.image}}"/>
      <h2>{{chef.name}}</h2>
      <p>4 receitas</p>
    </div>

  </div>
{% endblock content %}