<div class="item">
  <div class="titulo">Url da foto da receita</div>
  <div>
    <input type="url" name="recipe_url" placeholder="https://">
  </div>
</div>
<div class="item">
  <div class="titulo">Ingredientes</div>
  <div class="ingredients">
    <div class="ingredient">
      <input type="text" name="ingredients[]" value=""/>
    </div>
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>
<div class="item">
  <div class="titulo">Modo de preparo</div>
  <div class="ingredients">
    <div class="ingredient">
      <input type="text" name="passos[]" value=""/>
    </div>
  </div>
  <button type="button" class="add-ingredient">Adicionar novo passo</button>
</div>
<div class="item">
  <div class="titulo">Informações adicionais</div>
  <div>
    <input class="last" type="text" name="recipe_url" placeholder="Digite alguma dica de preparo ou algo similar">
  </div>
</div>