<div class="item">
  <div class="titulo">Url da foto da receita</div>
  <div>
    <input type="url" name="image" placeholder="https://">
  </div>
</div>
<div class="item">
  <div class="titulo">Título da receita</div>
  <div>
    <input type="text" name="title" placeholder="">
  </div>
</div>
<div class="item">
  <div class="titulo">Autor da receita</div>
  <div>
    <input type="text" name="author" placeholder="">
  </div>
</div>
<div class="item">
  <div class="titulo">Ingredientes</div>
  <div id="ingredients">
    <div class="ingredient">
      <input type="text" name="ingredients[]" value=""/>
    </div>
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>
<div class="item">
  <div class="titulo">Modo de preparo</div>
  <div id="preparations">
    <div class="preparation">
      <input type="text" name="preparation[]" value=""/>
    </div>
  </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>
<div class="item">
  <div class="titulo">Informações adicionais</div>
  <div>
    <input class="last" type="text" name="information" placeholder="Digite alguma dica de preparo ou algo similar">
  </div>
</div>