{% extends "admin/layout.njk" %}

{% block content %}
  <div class="item">
    <div class="titulo">Modo de preparo</div>
    <div class="ingredients">
      <div class="ingredient">
        <input type="text" name="passos[]" value="" placeholder="Passo"/>
      </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo passo</button>
  </div>
  <div class="item">
    <div class="titulo">Informações adicionais</div>
    <div>
      <input type="text" name="recipe_url" placeholder="Digite alguma dica de preparo ou algo similar">
    </div>
  </div>
  <script>
    function addIngredient() {
      const ingredients = document.querySelector("#ingredients");
      const fieldContainer = document.querySelectorAll(".ingredient");

      // Realiza um clone do último ingrediente adicionado
      const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

      // Não adiciona um novo input se o último tem um valor vazio
      if (newField.children[0].value == "") 
        return false;
      
      // Deixa o valor do input vazio
      newField
        .children[0]
        .value = "";
      ingredients.appendChild(newField);
    }

    document
      .querySelector(".add-ingredient")
      .addEventListener("click", addIngredient);
  </script>
{% endblock content %}