{% extends "users/layout.njk" %}
{% block head %}
  <title>Foodfy - Receitas</title>
  {% endblock%}
  {% block content %}
    <div class="receitas">
      <h2>Nossas receitas</h2>
      <div class="cards">
        {% for recipe in recipes %}
          <div class="card" id="{{recipe.id}}">
            <img src="{{recipe.image}}"/>
            <div class="cardInfo">
              <p class="title">{{recipe.title}}</p>
              <p class="autor">por
                {{recipe.author}}</p>
            </div>
          </div>
          {% endfor%}
        </div>
      </div>
      <script src="/scripts.js"></script>
      {% endblock%}