{% extends "users/layout.njk" %}
{% block head %}
  <title>Foodfy - Receitas</title>
  {% endblock%}

  {% block cabecalho %}
    <header>
      <div class="cabecalho">
        <div class="img">
          <a href="/"><img src="/imgs/logo.png"/></a>
        </div>
        <div class="links">
          <a href="/sobre">Sobre</a>
          <a href="/receitas">Receitas</a>
          <a href="/chefs">Chefs</a>
        </div>
        <form class="filter" action="/receitas" method="GET">
          <input type="text" name="filter" placeholder="Filtrar por nome da receita" value="{{filter}}">
          <button type="submit">Buscar</button>
        </form>
      </div>
    </header>
  {% endblock cabecalho %}

  {% block content %}
    <div class="receitas">
      <h2>Nossas receitas</h2>
      <div class="cards">
        {% for recipe in recipes %}
          <div class="card" id="{{recipe.id}}">
            <img src="{{recipe.image}}"/>
            <div class="cardInfo">
              <p class="title">{{recipe.title}}</p>
              <p class="autor">por
                {{recipe.author}}</p>
              <a class="view" href="/receita/{{recipe.id}}">Visualizar</a>
            </div>

          </div>
          {% endfor%}
        </div>
      </div>
      {# <script src="/scripts.js"></script> #}
      {% endblock%}